body {
  padding: 50px;
  font-family: "Lucida Grande";
  font-size: 14px;
}

h1 {
  font-size: 36px;
  font-weight: 900;
  line-height: 1.2;
  color: orchid;
}
.products {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
  width: 100%;
}
.products__card {
  display: flex;
  flex-direction: column;
  gap: 15px;
  max-width: 270px;
  border: 1px solid #666;
  border-radius: 15px;
  padding: 10px;
   & ul {
    display: flex;
    flex-direction: column;
    list-style: none;
    text-align: left;  
    margin-block-end: 0;
    margin-block-start: 0; 
    padding-inline-start: 0;
     margin-bottom: 25px;
    & li {
      display: flex;
      justify-content: space-between;
      gap: 15px;
      font-size: 18px;
      font-weight: 600;
      line-height: 1.5;
      color: #666;
    }
   }
}
.btn__box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 15px;
}
.btn {
  padding: 5px 15px;
  border: 1px solid #666;
  border-radius: 5px;
  text-align: center;
  font-size: 16px;
  color: #fff;
  background-color: #666;
  cursor: pointer;
  transition: background-color 0.3s ease;
  &:hover {
    transition: background-color 0.3s ease;
    background-color: brown;
  }
}
.products__title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 15px;
}
.products__sort {
  display: none;
  width: 150px;
  background-color: #f1f1f1;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  &:hover {
    transition: background-color 0.3s ease;
    background-color: #ddd;
  }

}
.products__img {
  max-width: 100%;
  & img {
    border-radius: 15px;
    width: 100%;
  }
}

.active.products__sort {
  display: block;
}