<header class="header">
  <a href="/" class="header__logo">
    <span>Phone</span>
    <span>for</span>
    <span>us</span>
  </a>
  <div class="header__menu">
    <ul>
      <li><a href="/">Home</a></li>
      <li><a href="/products">Phone</a></li>
      <li><a href="/products/add">Add Phone</a></li>
      <li><a href="/login.html">Login</a></li>
    </ul>
  </div>
</header>